/New Folder/Mi_aplicacion/nbproject/private/
/New Folder/Mi_aplicacion/build/
/New Folder/Clase 2 Java/nbproject/private/
/New Folder/Clase 2 Java/build/
/New Folder/Clase 3 Java/nbproject/private/
/New Folder/Clase 3 Java/build/
/Java/TP_Java/build/
/Java/TP_Java/nbproject/private/
/Java/baseDatos/target/
/CacProyectoJava/CacProyectoJAVA/nbproject/private/
/CacProyectoJava/CacProyectoJAVA/build/
/Java/Proyecto_final/escuelaDigital/target/
