/* .nav-item{
    text-size-adjust: 50%;
}

.container{
    text-size-adjust: 80%;
}
.nav-item{
    color: red;
}
.textoverde{
    color: green;
} */

.cacbar{
    margin-left: 8%;
}
.ulbar{
    margin-right: 5%;
}
#fondo{
    filter:brightness(50%);
    /* object-fit: auto; */
    /* object-position: auto; */
    width: 100%;
    /* height:min-content; */
    /* margin-bottom: 1rem; */
}
.micontainer{
    margin-top: 30%;
    margin-left: 55%;
    text-align: right;
}
.footbar{
    /* margin-right: 3%; */
    margin-left: 11%;
}